<div class="container">
    <div class="filters">
        <a class="button" (click)="filter='Weapons'">Weapons</a>
        <a class="button" (click)="filter='Armour'">Armour</a>
        <a class="button" (click)="filter='Food'">Food</a>
        <a class="button" (click)="filter='Miscellaneous'">Miscellaneous</a>
        <a class="button" (click)="filter=''">All Items</a>
    </div>

    <ul class="products">
        <li class="product-item" *ngFor="let product of getFilteredProducts()">
            <div class="product">
                <div class="product-details">
                    <!-- Add image here -->
                    <img [src]="getImageUrl(product)" [alt]="product.name" />
                    <div class="product-info">
                        <div class="name">{{ product.name }}</div>
                        <div class="description">{{ product.description }}</div>
                        <div class="effects">{{ product.effects }}</div>
                        <div class="category">Item Type: {{ product.category }}</div>
                    </div>
                </div>
                <div class="price">
                    <div>{{ product.price }}G</div>
                    <button class="cta">Buy</button>
                </div>
            </div>
        </li>
    </ul>
</div>