<div class="hero"></div>>

<h1>My space (home)</h1>
<p class="grey">home works!</p>

<h3>Click on any of the below for a surprise! ;-)</h3>

<a href="https://open.spotify.com/track/6932XE7HnGtDvB0kgMDPdZ?si=f6c8b8996f4244a5">
    <img src="\assets\images\cinnamoroll-holding-treats.gif"
    alt="one more song link" style="width:200px;"/>
</a>

<a href="https://open.spotify.com/track/6OUYnGC355cq0A6V3TNkYE?si=b628af078580454b">
    <img src="\assets\images\cinnamoroll-icecream.gif"
    alt="song link" style="width:150px;"/>
</a>

<a href="https://open.spotify.com/track/6UFivO2zqqPFPoQYsEMuCc?si=a21c260d6f464e46">
    <img src="\assets\images\cinnamoroll-snowman.gif"
    alt="another song link" style="width:150px;"/>
</a>
